.login-layout {
    background-image: url('../img/backgorund.png')
}

.login-layout .widget-box {
    border-bottom: medium none;
    border-radius: 5px 5px 2px 2px;
    border-top: 5px solid #009688;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.45);
    padding: 2px;
    position: fixed;
    transform: scale(0, 1) translate(-150px);
    visibility: hidden;
    width: 100%;
    z-index: -5;
}

.login-layout .widget-box .widget-main {
    padding: 16px 36px 36px;
    background: #F7F7F7;
    min-height: 420px;
}

.login-container {
    width: 70%;
    margin: 0 auto;
}

.login-layout .login-box .widget-main {
    padding-bottom: 0;
}

.btn-lg-login {
    border-width: 5px;
    line-height: 2.4;
    padding: 5px 16px 6px;
}

.btn-block-login {
    width: 60%;
}

.page-header-login {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
}

.page-header-login a {
    color: #585858;
    font-size: 15px;
    text-decoration: none;
}

.page-header-login a:hover {
    color: #009688;
    font-size: 15px;
    text-decoration: none;
}

.tampil-pemberitahuan {
    border:1px solid #ccc;
    font-size:15px;
    padding: 10px;
}

.header {
    border-bottom: 1px solid #ccc;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: -5px;
    padding-bottom: 4px;
}

.navbar {
    background: #009688 none repeat scroll 0 0;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    margin: 0;
    min-height: 45px;
    padding-left: 0;
    padding-right: 0;
}

.navbar-fixed-top + .main-container {
    padding-top: 60px;
}

.navbar.navbar-collapse .navbar-container {
    background-color: #009688;
}

.no-skin .navbar .navbar-toggle {
    background-color: #018070;
}

.no-skin .navbar .navbar-toggle:hover {
    background-color: #018070;
}

.no-skin .navbar .navbar-toggle.display, .no-skin .navbar .navbar-toggle[data-toggle="collapse"]:not(.collapsed) {
    background-color: #018070;
}

.no-skin .nav-list > li > a:hover {
    color: #018070;
}

.no-skin .nav-list > li.active > a {
    color: #018070;
}

.no-skin .nav-list > li.focus > a {
    color: #018070;
}

.no-skin .nav-list > li.open > a {
    color: #018070;
}

.no-skin .nav-list > li.highlight.active::before {
    background-color: #018070;
    display: block;
}

.no-skin .nav-list > li.highlight.hover::before {
    background-color: #018070;
    display: block;
}

.no-skin .nav-list > li > .submenu li.open > a {
    color: #018070;
}

.no-skin .nav-list > li.hover > .submenu li:hover > a {
    color: #018070;
}


.no-skin .sidebar.h-sidebar .nav-list > li.highlight.active > a::before {
    -moz-border-bottom-colors: #009688;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #009688;
    border-width: 8px;
    bottom: -1px;
    content: "";
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    right: auto;
    top: auto;
}

.no-skin .sidebar.h-sidebar .nav-list > li.active::before {
    background-color: #009688;
}

.no-skin .sidebar.h-sidebar .nav-list > li.hover::before {
    background-color: #009688;
}

.no-skin .sidebar.h-sidebar .nav-list > li.active, .no-skin .sidebar.h-sidebar .nav-list > li.active + li, .no-skin .sidebar.h-sidebar .nav-list > li:hover + li.active {
    border-left-color: #009688;
}

.sidebar.h-sidebar .nav-list {
    border-bottom: 2px solid #009688;
    border-width: 0 0 2px;
}

.ace-nav > li.light-blue > a {
    background-color: #018070;
}

.nav-list > li > a > .menu-icon {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-right: 2px;
    min-width: 60px;
    text-align: center;
    vertical-align: sub;
}

.nav-list > li > a {
    font-size: 13px;
    text-align: center;
    text-shadow: none !important;
}

.ace-nav > li.light-blue > a:hover, .ace-nav > li.light-blue > a:focus, .ace-nav > li.open.light-blue > a {
    background-color: #018070;
}

.ace-nav > li {
    float: left;
    height: 60px;
    line-height: 58px;
    padding: 0;
    position: relative;
}

.user-info {
    display: inline-block;
    line-height: 30px;
    max-width: 200px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    top: 13px;
    vertical-align: top;
    white-space: nowrap;
}

.page-header h1 {
    color: #018070;
    font-size: 24px;
    font-weight: lighter;
    margin: 0 8px;
    padding: 0;
}

.table-header {
    background-color: #009688;
    /* background: #f2f2f2 linear-gradient(to bottom, #f9f9f9 0px, #ececec 100%) repeat-x scroll 0 0; */
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    margin-bottom: 1px;
    padding-left: 12px;
}

.dataTable > thead > tr > th[class*="sorting_"] {
    color: #018070;
}

.dataTable > thead > tr > th[class*="sort"]:hover {
    color: #018070;
}

.dataTable > thead > tr > th.sorting_asc::after {
    color: #018070;
    content: "";
    top: 4px;
}

.pagination > li.active > a, .pagination > li.active > a:hover {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.pagination > li > a, .pager > li > a {
    background-color: #fafafa;
    border-color: #d4dfe3;
    border-radius: 0 !important;
    border-width: 1px;
    color: #009688;
    margin: 0 -1px 0 0;
    position: relative;
    z-index: auto;
}

.pagination > li > a:hover, .pager > li > a:hover {
    background-color: #fafafa;
    border-color: #009688;
    color: #018070;
}

/*state overview*/

.state-overview .symbol, .state-overview .value {
  display: inline-block;
  text-align: center;
}

.state-overview .value  {
  float: right;
}

.state-overview .value h1, .state-overview .value p  {
  margin: 0;
  padding: 0;
  color: #7087A3;
  font-size: 17px;
}

.state-overview .value a {
  text-decoration: none;
}

.state-overview .value h1 {
  font-weight: 300;
}

.state-overview .symbol i {
  color: #fff;
  font-size: 50px;
}

.state-overview .symbol {
  width: 40%;
  padding: 25px 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}

.state-overview .value {
  width: 58%;
  padding-top: 21px;
}

.state-overview .terques {
  background: #6ccac9;
}

.state-overview .red {
  background: #ff6c60;
}

.state-overview .yellow {
  background: #f8d347;
}

.state-overview .blue {
  background: #438eb9;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.btn-success, .btn-success:focus {
    background-color: #009688 !important;
    border-color: #009688;
}

.btn-success:hover,.btn-success:active,.open>.btn-success.dropdown-toggle {
    background-color: #018070!important;
    border-color: #009688;
}

.green {
    color: #629b58 !important;
}

.dark-green {
    color: #009688 !important;
}

.primary {
    color: #009688 !important;
}

.tooltip-info+.tooltip>.tooltip-inner,.tooltip.tooltip-info>.tooltip-inner{
    background-color: #009688;
    text-shadow: 1px 1px 0 rgba(40,50,100,.3)
}

.btn-primary, .btn-primary:focus {
    background-color: #009688 !important;
    border-color: #009688;
}

.btn-primary:hover,
.btn-primary:active, .open >
.btn-primary.dropdown-toggle {
    background-color: #018070 !important;
    border-color: #009688;
}

.chosen-container>.chosen-single, [class*=chosen-container]>.chosen-single {
    line-height: 32px;
    height: 34px;
    box-shadow: none;
    background: #fff;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    border: 1px solid #d5d5d5;
    text-decoration: none;
    white-space: nowrap;
}

.footer-content a {
    color: #009688;
}